header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 1em !important;
  color: #2b2b2b;
  width: 100%;
  background-color: white;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}
.title {
  text-align: center;
  margin-bottom: 0.5em;
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
}
