.guide-container {
  text-align: center;
}

.pricing-ul {
  list-style-type: none !important;
}

.pricing-li {
  margin-top: 1.5em !important;
}

.pricing-paragraph {
  margin-bottom: 0 !important;
}

.pricing-button {
  color: rgb(170, 120, 206) !important;
}
